<body>
  <div class="container">
    <header>
      <h1>Product List ({{prods.length}})</h1>
        <form class="new-card" id="newItem">
            <div class="columns">
              <div class="column">
                  <input type="text" class="input" id="name" name="text" placeholder="New products" />
              </div>
              <div class="column">
                  <input type="number" class="input" id="count" name="number" placeholder="No. of Items" />
              </div>
              <div class="column">
                  <input  type="file" name="upload" class="upload" id="{{this._id}}" />
              </div>
              <div class="column">
                  <img src="#" class="image" id="{{this._id}}" name="img" />
              </div>
              <div class="column">
                <button type="submit" id="add" class="button">Add</button>
              </div>
            </div>
        </form>
    </header>
    <ul>
      {{#each prods}}
        {{> prod}}
      {{/each}}
    </ul>
  </div>
</body>
