<template name="prod">
  <div class="card">
    <form id="entry" >
    <div class="columns">
      &nbsp;

      <div class="column">
        <button id="delete" class="button is-danger">&times;</button>
      </div>
      <div class="column">
        <div class="label">
          Name:
        </div>
        <input name="prod_name"   value="{{this.name}}">
      </div>
      <div class="column">
        <div class="label">
          Count:
        </div>
        <input name="prod_count"  value="{{this.number}}">
      </div>
      <div class="column">
        <div class="label">
          Created At:
        </div>
        <p>{{this.createdAt}}</p>
      </div>
      <div class="column">
        <button id="edit" type="submit" class="button is-success">+</button>
      </div>
      <div class="column is-pulled-right">
        <img src="{{this.url}}" class="image">
      </div>
    </div>
    </form>
  </div>
</template>
